flask
pdfminer.six
joblib
python-dotenv
spacy
language_tool_python
tensorflow
opencv-python
Pillow
numpy
requests
numpy
tensorflow
langchain
langchain_community
groq
frontend
scikit-learn
pymupdf
Flask-Cors